*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.props
*.pyc
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
# Settings directory for eclipse
.settings
.checkstyle
cscope.*
Session.vim
tags
Thumbs.db
v8.log
_out
base/base_unittests_run.xml
build/Debug
build/Debug_x64
build/gomacc.lock
build/ipch/
build/Release
build/Release_x64
build/win_toolchain.json
build/util/LASTCHANGE*
build/util/support
build/x64/
build/linux/bin/eu-strip
buildtools
out*
testing/gmock
testing/gtest
third_party/icu
tools/gyp
tools/json_schema_compiler/test/json_schema_compiler_tests.xml
xcodebuild
xwalk
